<div class="ui massive inverted fluid menu" id="footer">
    <p class="item">CopyRight @AKP</p>
</div>
</body>
<script href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.js">
</script>
</html>