<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>F.R.I.E.N.D.S</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
</head>
<body>
  
    <div class="ui massive inverted fluid menu">
        <a><img src="https://brandthechange.com/wp-content/uploads/2018/12/mediacritica_friends-650x250.jpg"></a>  
        <a href="/friends"class="red item">Home</a>
        <a href="/friends/new" class="red item">New Post</a>
      </div>
    
